.experience {
  width: 100%;
  height: 916px;
  font-family: "Julius Sans One", sans-serif;
  color: #989da6;
}

.experience-title-container {
  display: flex;
  justify-content: center;
}

.experience-title {
  padding-top: 100px;
}

.past-experience-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-experience-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 65%;
}

.job-experience-top-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.job-experience-bottom-container {
  display: flex;
  justify-content: center;
}

.makers-div {
  display: flex;
  justify-content: center;
  width: 35%;
}
