@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Julius+Sans+One&family=Raleway:wght@300&display=swap");

.header-list {
  overflow: hidden;
  position: fixed;
  width: 100%;
  /* background-color: #989da6; */
  background-color: #496772;
  top: 0;
  height: 50px;
  margin: 0;
}

.list-wrapper {
  display: flex;
  list-style: none;
  align-items: stretch;
  justify-content: space-between;
}

.header-item {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  color: #d4e8dc;
  padding-right: 10px;
  cursor: pointer;
}
