.hobby-container {
  width: 25%;
  text-align: center;
}

.hobby-image {
  height: 60%;
  width: 100%;
  border-radius: 5%;
}

.hobby-description {
  font-family: "Raleway", sans-serif;
  line-height: 140%;
}
