.skill {
  max-width: 600px;
  margin: 2rem auto;
  right: 380px;
}

.skill-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #d4e8dc;
}

.skill-title:hover {
  background-color: #d4e8dc;
}

.skill-title,
.skill-content {
  padding: 1rem;
}

.skill-content {
  background-color: #d4e8dc;
  font-family: "Raleway", sans-serif;
}
